{% extends "base_site.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="">
		{% if object.title %}
			<div class="page-title">
				<div class="title_right">
					<h3>{{ object.title }}</h3>
				</div>
			</div>
		{% endif %}
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>{% trans 'Project Details' %}</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						{% crispy form %}
						<div class="ln_solid"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock content %}
